NODE_ENV= 
PORT= 
FRONTEND_URL= 
DATABASE_URL= 
BETTER_AUTH_SECRET= 
BETTER_AUTH_URL= 
RESEND_API_KEY= 
EMAIL_SENDING_DOMAIN= 
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=